.buttons-block {
  width: inherit;
  background-color: #1d2631;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;
    background-color: transparent;
    width: 340px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    text-align: left;
    margin: 0 auto;
  }
}

.buttons-block__download-button {
  display: inline-block;
  color: #ffffff;
  border-radius: 29px;
  border: 3px solid #ffffff;
  padding: 14px 35px;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 29px auto;
  max-width: 220px;

  &:hover {
    color: #d22855;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 85, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding: 16px 46px;
    margin: 29px auto 47px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 29px;
    margin: 36px 0 67px 0;
    font-size: 21px;
  }
}


.buttons-block__link-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 82px 78px 82px;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  @media (min-width: @desktop-width) {
    padding-left: 45px;
    margin-block-end: 21px;
    justify-content: start;
  }
}

.buttons-block__description-buttons {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
  width: 280px;
  padding-top: 17px;
  padding-bottom: 32px;
  margin: 0 auto;
}

.buttons-block__description-buttons--style {
  font-size: 14px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    width: 300px;
    padding-bottom: 115px;
    padding-top: 26px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    text-align: center;
  }
}

.promo__intro {
  padding-bottom: 28px;
}
