.contacts {
  font-family: "Open Sans", serif;
  background-color: #ffffff;
}

.contacts--placement {
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }
}

.contacts__title {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}

.contacts__title--font {
  width: 222px;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 370px;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 33px;
  }
}

.contacts__list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.contacts__list--arrangement {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.contacts__communication-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 18px;
}

.contacts__communication-title--width {
  @media (min-width: @tablet-width) {
    width: 321px;
    margin-bottom: 44px;

    &:last-of-type {
      margin-bottom: 26px;
    }
  }

}

.contacts__phone,
.contacts__email,
.contacts__address {
  display: block;
  width: 240px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  text-decoration: none;
}

.contacts__map--mobile {
  width: inherit;
  overflow: hidden;
  height: 219px;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: transparent;
    width: 1px;
    height: 1px;
    border-top: 33px solid #ffffff;
    border-left: 159px solid transparent;
    border-right: 159px solid transparent;
    border-bottom: 33px solid transparent;

    @media (min-width: @tablet-width) {
      border-top: 68px solid #ffffff;
      border-left: 329px solid transparent;
      border-right: 329px solid transparent;
      border-bottom: 68px solid transparent;
    }
  }
}
//  {
//   display: block;
//   width: 224px;
//   margin: 0 auto;
//   text-align: center;
//   font-weight: 300;
//   font-size: 24px;
//   line-height: 33px;
//   text-decoration: none;
// }
