.contacts {
  font-family: "Open Sans", serif;
  padding-top: 40px;
  background-color: #ffffff;
}

.contacts__title {
  margin: 0 auto;
  text-align: center;
  width: 222px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 35px;
}

.contacts__list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: none;

}

.contacts__phone-title,
.contacts__email-title,
.contacts__address-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 18px;
}

.contacts__phone,
.contacts__email,
.contacts__address {
  display: block;
  width: 240px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}

.contacts__map--mobile {
  width: inherit;
  overflow: hidden;
  height: 219px;

  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: transparent;
    width: 1px;
    height: 1px;
    border-top: 33px solid #ffffff;
    border-left: 159px solid transparent;
    border-right: 159px solid transparent;
    border-bottom: 33px solid transparent;
  }
}
//  {
//   display: block;
//   width: 224px;
//   margin: 0 auto;
//   text-align: center;
//   font-weight: 300;
//   font-size: 24px;
//   line-height: 33px;
//   text-decoration: none;
// }
