.effect {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    margin-top: -48px;
    display: block;
    background-color: #ffffff;
  }
}

.effect-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.effect-container-text {

}
