.forms-main__title {
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #ffffff;
}

.forms-main__title--mobile {
  width: 231px;
  font-size: 24px;
  line-height: 33px;
  padding-top: 28px;
  padding-bottom: 45px;
}

.forms-main__intro {
  margin: 0;
  background-color: #ffffff;
}

.forms-main__intro--mobile {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  padding: 44px 20px 15px;
  text-align: center;
}

.forms-main__form-name {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 00;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
  background-color: #ffffff;
}

.forms-main__list-name {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
