.forms-main__contest {
  @media (min-width: @tablet-width) {
    background-color: #ffffff;
  }
}

.forms-main__title {
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #ffffff;
}

.forms-main__title--mobile {
  width: 231px;
  font-size: 24px;
  line-height: 33px;
  padding-top: 28px;
  padding-bottom: 45px;

  @media (min-width: @tablet-width) {
    width: 620px;
    font-size: 50px;
    line-height: 68px;
    padding-top: 67px;
    padding-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    width: 747px;
    padding-bottom: 84px;
  }
}

.forms-main__fill-forms {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.forms-main__intro {
  margin: 0;
  background-color: #ffffff;
  margin-block-start: 0;
  margin-block-end: 0;
}

.forms-main__intro--mobile {
  width: 280px;
  font-size: 14px;
  line-height: 30px;
  padding: 44px 20px 15px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 490px;
    margin: 0 auto;
    font-size: 18px;
    padding: 91px 85px 0;
  }

  @media (min-width: @desktop-width) {
    width: 757px;
    padding: 91px 0 0;
  }
}

.forms-main__form {
  width: inherit;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    background: #ffffff;
  }
}

.forms-main__form-name {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 00;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
  background-color: #ffffff;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    padding-top: 69px;
    padding-bottom: 18px;
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__list-name {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.forms-main__list-item {
  @media (min-width: @tablet-width) {
    &:last-of-type .forms-main__field-name {
      margin: 0 0 0;
    }
  }
}

.forms-main__form-field {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.forms-main__field-name {
  display: block;
  width: 240px;
  margin: 5px auto 0;
  padding: 14px 16px 14px 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: inline;
    flex-grow: 1;
    width: 484px;
    margin: 0 0 54px;

    // &:last-of-type {
    //   margin: 0;
    // }
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__form-field--mobile {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    width: 640px;
  }

  & span {
    display: inline-block;
    padding-left: 44px;
    margin-top: 19px;

    @media (min-width: @tablet-width) {
      display: inline;
      padding-left: 21px;
      padding-right: 18px;
    }

    @media (min-width: @desktop-width) {

    }
  }
}

.forms-main__options {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {

  }

  & legend {
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    background-color: #f2f2f2;
  }
}

.forms-main__achievements-title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #d22856;
  text-align: center;
  font-weight: 400;
}

.forms-main__achievements-title--mobile {
  padding: 37px 51px 37px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.forms-main__achievements-list,
.forms-main__contacts-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.forms-main__achievements-list--mobile {
  background-color: #f2f2f2;
}

.forms-main__achievements-item--mobile {
  margin-bottom: 43px;

  &:last-of-type {
    padding-bottom: 42px;
    margin-bottom: 0;
  }
}

.forms-main__achievements-subject {
  display: inline-block;
  cursor: pointer;
}

.forms-main__achievements-mark {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  margin-left: 20px;
  vertical-align: middle;
}

.forms-main__achievements-check:checked + .forms-main__achievements-mark {
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.forms-main__achievements-check {
  &:hover + .forms-main__achievements-mark {
    border: 2px solid #283645;
  }

  &:active + .forms-main__achievements-mark {
    border: 2px solid #d22856;
  }
}

.forms-main__achievements-caption {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;
  vertical-align: middle;
}

.forms-main__user-contacts {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 616px;
    margin: 0 auto;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    order: 2;

    & legend {
      text-align: center;
    }
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__contacts-item--mobile {
  &:first-of-type {
    padding-top: 15px;
  }

  &:last-of-type {
    padding-bottom: 42px;
  }
}

.forms-main__contacts-title--mobile {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    color: #d22856;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 29px;
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__user-phone {
  display: grid;
  grid-template-columns: 441px 60px;
  justify-content: center;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;

  span {
    display: inline-block;
    padding-left: 44px;
    margin-top: 19px;

    @media (min-width: @tablet-width) {
      order: 1;
    }
  }
}

.forms-main__user-address {
  display: grid;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;

  span {
    display: inline-block;
    padding-left: 44px;
    margin-top: 19px;

    @media (min-width: @tablet-width) {
      order: 1;
    }
  }
}

.forms-main__phone-input {
  display: inline-block;
  width: 240px;
  margin: 5px auto 0;
  padding: 14px 16px 14px 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    width: 433px;
    margin: 0;
    padding: 14px 16px 12px 21px;
    border: 2px solid #E5E5E5;
    border-radius: 1px;
  }
}

.forms-main__phone-icon {
  @media (min-width: @tablet-width) {
    display: inline;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 0;

    &::after {
      display: inline-block;
      content: "";
      width: 59px;
      height: 59px;
      background: #e5e5e5;
      background-image: url("/img/phone_icon.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.forms-main__address-input {
  display: block;
  width: 240px;
  margin: 5px auto 0;
  padding: 14px 16px 14px 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    &::after {
      display: block;
      content: "";
      width: 59px;
      height: 59px;
      background: #e5e5e5;
      background-image: url("/img/mail_icon.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.forms-main__application {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  border: none;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 616px;
    margin: 0 auto;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    order: 1;
    border-radius: 1px;
    margin-bottom: 53px;

    & legend {
      text-align: center;
    }
  }

  @media (min-width: @desktop-width) {

  }

  & legend {
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    background-color: #f2f2f2;
  }
}

.forms-main__application-title {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
  color: #d22856;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.forms-main__application-title--mobile {
  padding: 37px 51px 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    background: #ffffff;
    padding: 41px 27px 42px;
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__application-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-bottom: 22px;
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__application-mark {
  display: inline-block;
  width: 37px;
  height: 37px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  margin-left: 20px;
  vertical-align: middle;
}

.forms-main__application-caption {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-left: 29px;
  vertical-align: middle;

  @media (min-width: @tablet-width) {
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__application-item--mobile {
  margin-bottom: 33px;
}

.forms-main__application-check:checked + .forms-main__application-mark {
  background-image: url("../img/ellipse-small.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.forms-main__application-check {
  &:hover + .forms-main__application-mark {
    border: 2px solid #283645;
  }

  &:active + .forms-main__application-mark {
    border: 2px solid #d22856;
  }
}

.forms-main__user-emotions {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  background-color: #ffffff;
}

.forms-main__user-emotions--mobile {
  border: none;

  @media (min-width: @tablet-width) {
    order: 4;
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__emotions-title {
  font-weight: 400;
  font-size: 14px;
  color: #d22856;
}

.forms-main__emotions-title--mobile {
  display: inline-block;
  text-align: center;
  padding: 44px 20px 44px;
  line-height: 18px;
}

.forms-main__emotions-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.forms-main__emotions-input--mobile {
  width: 278px;
  height: 201px;
  padding: 13px 19px 13px;
  margin-top: 17px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  box-sizing: border-box;
}

.forms-main__button-wrapper--mobile {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    order: 5;
  }

  @media (min-width: @desktop-width) {

  }
}

.forms-main__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
}

.forms-main__button--mobile {
  padding: 16px 47px;
  margin: 0 auto 35px;
}

.forms-main__comment {
  margin-block-start: 0;
  margin-block-end: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  span {
    color: #d22856;
  }
}
