@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2"),
    url("../fonts/opensansbold.woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2"),
    url("../fonts/opensans.woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2"),
    url("../fonts/opensanslight.woff");
}

.header-page {
  width: inherit;

  @media (min-width: @desktop-width) {
    // display: flex;
    // width: 940px;
    // margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: (@desktop-width - 1px)) {
  .header-page--closed .header-page__navigation-list {
    display: none;
  }

  .header-page--opened .header-page__navigation-list {
    display: flex;
  }
}

// @media (min-width: @mobile-width) {
//   .header-page--closed {
//     display: none;
//   }

//   .header-page--opened {
//     display: block;
//   }
// }

// .header-page__navigation {
//   display: none;
//   width: inherit;
// }

.header-page__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
  }
}

.header-page__wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-page__wrapper--width {
  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

.header-page__logo-text {
  color: #ffffff;

  &:hover use {
    color: @hover-color;
  }

  &:active use {
    color: @active-color;
    opacity: 0.3;
  }
}

.header-page__logo-tablet {
  display: none;
}

.header-page__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .header-page__logo-text {
    display: none;
  }

  .header-page__logo-tablet {
    display: inline;
    margin: 27px 0 43px 20px;
    color: #ffffff;

    &:hover use {
      color: @hover-color;
    }

    &:active use {
      color: @active-color;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .header-page__logo-text {
    display: none;
  }

  .header-page__logo-tablet {
    display: none;
  }

  .header-page__logo-desktop {
    display: inline;
    padding-bottom: 40px;
    padding-top: 27px;
    color: #ffffff;
  }

  .header-page__logo-desktop:hover use {
    color: #d22856;
  }

  .header-page__logo-desktop:active use {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.header-page__logo-text--phone {
  margin: 22px 21px 20px 20px;
}

.header-page__wrapper .header-page--opened {
  background-image: none;

  &:hover {
    background-image: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: fade(#d22856, 30%);
  }
}

.header-page--nojs .header-page__navigation-list {
  display: flex;
}

.header-page__navigation-toggle--phone {
  width: 100px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
  background-image: url("../img/open-menu-btn.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url("../img/open-menu-hover.png");
  }

  &:active {
    background-image: url("../img/open-menu-hover.png");
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

// .header-page__wrapper .header-page__navigation-toggle--phone:hover .header-page--opened {
//   background-image: none;
// }

.header-page__navigation-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 2;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 150px 187px 145px 138px;
    justify-items: start;
    width: auto;
  }
}

.header-page__navigation--column {
  @media (min-width: @desktop-width) {
    display: flex;
    width: 620px;
    align-items: center;
  }
}

.header-page__navigation-item {

  width: inherit;
  color: #ffffff;
  text-align: center;

  &:nth-of-type(4n) {
    @media (min-width: @desktop-width) {
      margin-left: auto;
    }
  }

  @media (max-width: (@desktop-width - 1px)) {
    border-bottom: 1px solid #1d1d1d;
    border-top: 1px solid #414040;
  }
}

.header-page__navigation-link {
  display: inline-block;
  width: inherit;
  font-family: "Open Sans", serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: inherit;
  padding-top: 16px;
  padding-bottom: 15px;
  text-transform: uppercase;
  background: #283645;

  @media (min-width: @desktop-width) {
    background: none;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }

  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.header-page__navigation-link--active {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid #ffffff;
    // &::after {
    //   content: "";
    //   display: block;
    //   width: inherit;
    //   height: 2px;
    //   background-color: #ffffff;
    // }
  }
}
