.page__body {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f4a460;

  @media (min-width: @tablet-width) {
    width: 660px;
    background-image: url("../img/back_tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    background-image: url("../img/back-desktop.jpg");
    background-size: cover;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}
