.promo {

}

.promo__header {
  font-family: "Open Sans light", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
}

.promo__intro {
  font-family: "Open Sans light", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
}

.promo__advantage-list {

  margin-block-start: 0;
  padding-inline-start: 0;
  padding-top: 30px;
  background: linear-gradient(177deg, #ffffff 20px, #f2f2f2 20px, #f2f2f2);
  list-style-type: none;

  // &::before {
  //   content: "";
  //   width: inherit;
  //   display: block;
  //   height: 20px;
  // }
}
