.reviews {
  background-color: #ffffff;
}

.reviews__list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.reviews__title {
  margin: 0 auto;
}
