.slogan-block {

}

.slogan-block__title {
  width: 280px;
  font-family: "Open Sans", serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 24px auto 29px auto;
  text-align: center;
  color: #ffffff;


  @media (min-width: @tablet-width) {
    width: 246px;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
  }
}

.slogan-block__image {
  vertical-align: bottom;

  @media (min-width: @tablet-width) {
    margin-left: 300px;
  }
}
