.slogan-block {
  position: relative;

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin: 0 auto;
  }
}

.slogan-block__title {
  width: 280px;
  font-family: "Open Sans", serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 24px auto 29px auto;
  text-align: center;
  color: #ffffff;


  @media (min-width: @tablet-width) {
    width: 246px;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    margin: 94px 0 0 46px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    font-size: 50px;
    line-height: 68px;
    margin: 102px 0 0 53px;
  }
}

.slogan-block__image {
  vertical-align: bottom;

  @media (min-width: @tablet-width) {
    width: 660px;
    height: 545px;
    position: absolute;
    top: -19px;
    right: 1px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    height: 645px;
    top: -1px;
    right: -70px;
  }
}
