.tariffs {
  background: linear-gradient(177deg, #ffffff 55px, #f2f2f2 55px, #f2f2f2);
}

.tariffs--placement {
  padding-top: 138px;
  padding-bottom: 47px;

  @media (min-width: @tablet-width) {
    padding-top: 110px;
  }
}

.tariffs__promo-label {
  margin: 0;
  padding: 0;
}

.tariffs__wrapper-mobile {
  width: 320px;
  overflow: hidden;
  margin-bottom: 35px;
}

.tariffs__wrapper-mobile--full {
  @media (min-width: @tablet-width) {
    width: inherit;
    overflow: visible;
  }
}

.tariffs__table {
  width: 616px;
  border-spacing: 2px;
}

.tariffs__table--mobile {
  margin-left: -429px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }
}

.tariffs__table-title {
  &:not(:first-of-type) {
    background-color: #283645;
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    text-transform: uppercase;
    overflow: hidden;


  }
  &:nth-of-type(3) {
    background-image: url("../img/hit74x74.png");
    background-repeat: no-repeat;
    background-position: top left;
  }
}


.tariffs__table-title--padding {
  padding-top: 10px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-top: 13px;
    padding-bottom: 6px;
  }
}

.tariffs__price {
  display: block;
  width: 276px;
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.tariffs__price--width {
  @media (min-width: @tablet-width) {
    width: 152px;
  }
}

.tariffs__table-body {
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.tariffs__row-features {
  display: inline-block;
  text-align: left;
  width: 147px;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.tariffs__row-features--font {
  @media (min-width: @tablet-width) {
    width: 124px;
    font-size: 14px;
    padding: 6px 11px 9px 17px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}


.tariffs__row-title {

  &:nth-of-type(1) .tariffs__row--data-mobile:nth-of-type(3)::before {
    content: "РОЗОВЫЙ ФИЛЬТР";
    display: inline-block;
    width: 138px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    padding: 13px 70px 14px 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:nth-of-type(2) .tariffs__row--data-mobile:nth-of-type(3)::before {
    content: "смайлики";
    display: inline-block;
    width: 138px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    padding: 13px 70px 14px 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &:nth-of-type(3) .tariffs__row--data-mobile:nth-of-type(3)::before {
    content: "комментарии";
    display: inline-block;
    width: 141px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    padding: 13px 70px 14px 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.tariffs__row-title--padding td {
  padding: 0 10px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.tariffs__option-mark {
  vertical-align: middle;
}

.tariffs__toggles {
  margin: 0;
  text-align: center;
}
