.tariffs {
  padding-top: 120px;
  background: linear-gradient(177deg, #ffffff 55px, #f2f2f2 55px, #f2f2f2);
  padding-bottom: 333px;
}

.tariffs__promo-label {
  margin: 0;
  padding: 0;
}

.tariffs__wrapper-mobile {
  width: 320px;
  overflow: hidden;
}

.tariffs__table {
  width: 616px;
  border-spacing: 2px;
}

.tariffs__table--mobile {
  margin-left: -360px;
}

.tariffs__table-header {

}

.tariffs__table-head {
  // display: grid;
  // grid-template-columns: 276px 276px 276px 276px;
}

.tariffs__table-title {
  &:not(:first-of-type) {
    background-color: #283645;
    color: #ffffff;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    overflow: hidden;
  }
  &:nth-of-type(3)::before {
    background-image: url("../img/hit74x74.png");
    background-repeat: no-repeat;
    background-position: top left;
    content: "";
    // display: block;
    // width: 150px;
    // font-family: "Open Sans", serif;
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 30px;
    // background-color: #D22856;
    // transform: rotate(-45deg) translate(0px, 0px);
  }
}

.tariffs__price {
  display: block;
  width: 276px;
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.tariffs__table-body {
  background: #ffffff;
}

.tariffs__toggles {
  position: relative;
  top: 273px;
  margin: 0;
  text-align: center;
}
