.page__body {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f4a460;
}
@font-face {
  font-family: "Open Sans bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2"), url("../fonts/opensansbold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2"), url("../fonts/opensans.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2"), url("../fonts/opensanslight.woff");
}
.header-page {
  width: inherit;
}
.header-page__wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}
.header-page__logo-text:hover path {
  fill: #D22856;
}
.header-page__logo-text:active path {
  fill: #FFFFFF;
  opacity: 0.3;
}
.header-page__logo-text--phone {
  margin: 22px 21px 20px 20px;
}
.header-page__navigation-toggle {
  background-image: url("../img/open-menu-btn.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.header-page__navigation-toggle--phone {
  width: 100px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
}
.header-page__navigation {
  display: none;
  width: inherit;
}
.header-page__navigation-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: inherit;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-page__navigation-item {
  width: inherit;
  color: #ffffff;
  text-align: center;
}
.header-page__navigation-item a {
  display: inline-block;
  width: inherit;
  font-family: "Open Sans bold", serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: inherit;
  padding-top: 16px;
  padding-bottom: 15px;
  text-transform: uppercase;
  background: #283645;
  box-shadow: 0 -1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.buttons-block {
  width: inherit;
  background-color: #1d2631;
  text-align: center;
}
.buttons-block__download-button {
  display: inline-block;
  color: #ffffff;
  border-radius: 29px;
  border: 3px solid #ffffff;
  padding: 18px 39px 18px 38px;
  text-decoration: none;
  font-family: "Open Sans bold", serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 28px auto;
}
.buttons-block__link-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 82px 78px 82px;
  justify-content: center;
  align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.buttons-block__description-buttons {
  font-family: "Open Sans light", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  width: 280px;
  padding-top: 28px;
  padding-bottom: 38px;
  margin: 0 auto;
}
.slogan-block__title {
  width: 280px;
  font-family: "Open Sans light", serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 19px auto 34px auto;
  text-align: center;
  color: #ffffff;
}
.slogan-block__image {
  vertical-align: bottom;
}
.promo__header {
  font-family: "Open Sans light", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  margin: 0;
  background-color: #ffffff;
}
.promo__intro {
  font-family: "Open Sans light", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  margin: 0;
  background-color: #ffffff;
}
.promo__advantage-list {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  background: linear-gradient(177deg, #ffffff 20px, #f2f2f2 20px, #f2f2f2);
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */
