.page__body {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f4a460;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2"), url("../fonts/opensansbold.woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2"), url("../fonts/opensans.woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2"), url("../fonts/opensanslight.woff");
}
.header-page {
  width: inherit;
}
.header-page__wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}
.header-page__logo-text:hover path {
  fill: #D22856;
}
.header-page__logo-text:active path {
  fill: #FFFFFF;
  opacity: 0.3;
}
.header-page__logo-text--phone {
  margin: 22px 21px 20px 20px;
}
.header-page__navigation-toggle {
  background-image: url("../img/open-menu-btn.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.header-page__navigation-toggle:hover {
  background-image: url("../img/open-menu-hover.png");
}
.header-page__navigation-toggle:active {
  background-image: url("../img/open-menu-hover.png");
  opacity: 0.3;
}
.header-page__navigation-toggle--phone {
  width: 100px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border: none;
}
.header-page__navigation {
  display: none;
  width: inherit;
}
.header-page__navigation-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: inherit;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-page__navigation-item {
  width: inherit;
  color: #ffffff;
  text-align: center;
}
.header-page__navigation-item a {
  display: inline-block;
  width: inherit;
  font-family: "Open Sans", serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: inherit;
  padding-top: 16px;
  padding-bottom: 15px;
  text-transform: uppercase;
  background: #283645;
  box-shadow: 0 -1px 0 0 #000000, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.buttons-block {
  width: inherit;
  background-color: #1d2631;
  text-align: center;
}
.buttons-block__download-button {
  display: inline-block;
  color: #ffffff;
  border-radius: 29px;
  border: 3px solid #ffffff;
  padding: 14px 35px;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 29px auto;
}
.buttons-block__link-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 82px 78px 82px;
  justify-content: center;
  align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.buttons-block__description-buttons {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  width: 280px;
  padding-top: 17px;
  padding-bottom: 32px;
  margin: 0 auto;
}
.promo__intro {
  padding-bottom: 28px;
}
.slogan-block__title {
  width: 280px;
  font-family: "Open Sans", serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 24px auto 29px auto;
  text-align: center;
  color: #ffffff;
}
.slogan-block__image {
  vertical-align: bottom;
}
.promo__header {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 29px;
  background-color: #ffffff;
}
.promo__intro {
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #283645;
  margin: 0;
  background-color: #ffffff;
}
.promo__advantage-list {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding-top: 86px;
  padding-bottom: 41px;
  background: linear-gradient(174deg, #ffffff 35px, #f2f2f2 35px, #f2f2f2);
  list-style-type: none;
}
.promo__advantage-item {
  width: 280px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto 31px;
  text-align: center;
}
.promo__advantage-item:last-of-type {
  margin-bottom: 0;
}
.promo__advantage-title {
  width: 280px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 0 auto 12px;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.promo__foto-list {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  background-color: #f2f2f2;
}
.promo__foto-item {
  text-align: center;
}
.promo__foto-item:not(:last-of-type) {
  display: none;
}
.effect {
  display: none;
}
.reviews {
  background-color: #ffffff;
}
.reviews__phone--layer {
  margin-top: -48px;
  z-index: 1;
  position: relative;
}
.reviews__list {
  width: inherit;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding: 41px 20px 21px;
}
.reviews__item {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.reviews__item:not(:first-of-type) {
  display: none;
}
.reviews__title {
  margin: 0 auto;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-bottom: 14px;
}
.reviews__title-intro {
  display: none;
}
.reviews__toggles {
  margin: 0;
  text-align: center;
}
.slider__toggle {
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #283645;
  border: none;
}
.slider__toggle--current {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: 3px solid #283645;
  border-radius: 50%;
  padding: 0;
  margin: 0 4px;
}
.tariffs {
  padding-top: 138px;
  background: linear-gradient(177deg, #ffffff 55px, #f2f2f2 55px, #f2f2f2);
  padding-bottom: 47px;
}
.tariffs__promo-label {
  margin: 0;
  padding: 0;
}
.tariffs__wrapper-mobile {
  width: 320px;
  overflow: hidden;
  margin-bottom: 35px;
}
.tariffs__table {
  width: 616px;
  border-spacing: 2px;
}
.tariffs__table--mobile {
  margin-left: -429px;
}
.tariffs__table-title:not(:first-of-type) {
  background-color: #283645;
  color: #ffffff;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 26px;
  text-transform: uppercase;
  overflow: hidden;
}
.tariffs__table-title:nth-of-type(3) {
  background-image: url("../img/hit74x74.png");
  background-repeat: no-repeat;
  background-position: top left;
}
.tariffs__price {
  display: block;
  width: 276px;
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
.tariffs__table-body {
  background: #ffffff;
}
.tariffs__row-title td {
  padding: 0 10px;
  text-align: center;
}
.tariffs__row-title .tariffs__row-features {
  display: inline-block;
  text-align: left;
  width: 147px;
}
.tariffs__row-title:nth-of-type(1) .tariffs__row--data-mobile:nth-of-type(3)::before {
  content: "РОЗОВЫЙ ФИЛЬТР";
  display: inline-block;
  width: 138px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  padding: 13px 70px 14px 0;
}
.tariffs__row-title:nth-of-type(2) .tariffs__row--data-mobile:nth-of-type(3)::before {
  content: "смайлики";
  display: inline-block;
  width: 138px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  padding: 13px 70px 14px 0;
}
.tariffs__row-title:nth-of-type(3) .tariffs__row--data-mobile:nth-of-type(3)::before {
  content: "комментарии";
  display: inline-block;
  width: 141px;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  padding: 13px 70px 14px 0;
}
.tariffs__option-mark {
  vertical-align: middle;
}
.tariffs__toggles {
  margin: 0;
  text-align: center;
}
.contacts {
  font-family: "Open Sans", serif;
  padding-top: 40px;
  padding-bottom: 39px;
  background-color: #ffffff;
}
.contacts__title {
  margin: 0 auto;
  text-align: center;
  width: 222px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 35px;
}
.contacts__list {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style-type: none;
}
.contacts__phone-title,
.contacts__email-title,
.contacts__address-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 18px;
}
.contacts__phone,
.contacts__email,
.contacts__address {
  display: block;
  width: 240px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}
.contacts__map--mobile {
  width: inherit;
  overflow: hidden;
  height: 219px;
}
.contacts__map--mobile::before {
  position: absolute;
  display: block;
  content: "";
  background-color: transparent;
  width: 1px;
  height: 1px;
  border-top: 33px solid #ffffff;
  border-left: 159px solid transparent;
  border-right: 159px solid transparent;
  border-bottom: 33px solid transparent;
}
.footer-page {
  background-color: #ffffff;
  padding-bottom: 40px;
}
.footer-page__logo-link--mobile {
  display: block;
  text-align: center;
  margin-bottom: 38px;
}
.footer-page__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 172px;
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0 auto 40px;
}
.footer-page__social-link {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid rgba(40, 54, 69, 0.1);
  text-align: center;
}
.footer-page__social-icon {
  padding-top: 14px;
}
.designed__title--mobile {
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.designed__title--mobile a {
  margin-left: 18px;
  vertical-align: middle;
}
.catalog-page__body {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  width: 320px;
  margin: 0 auto;
  background-image: url(../img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #f4a460;
}
.main-catalog__title {
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  color: #ffffff;
}
.main-catalog__title--mobile {
  width: 173px;
  font-size: 24px;
  line-height: 33px;
  padding-top: 28px;
  padding-bottom: 76px;
}
.main-catalog__intro {
  position: relative;
  background-color: #ffffff;
  color: #283645;
  text-align: center;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.main-catalog__intro--mobile {
  padding: 45px 20px 50px;
  font-size: 14px;
  line-height: 30px;
}
.main-catalog__foto {
  position: relative;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin: 0;
}
.first-foto::before {
  content: "ПАНОРАМА ДНЯ";
  display: block;
  width: 119px;
  position: absolute;
  top: 0;
  right: 19px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  background-color: #D22856;
  padding: 10px 10px 11px 11px;
}
/*# sourceMappingURL=style.css.map */
